# Node.js
node_modules/
npm-debug.log
yarn-error.log

# TypeScript
*.tsbuildinfo

# Build output
dist/
build/

# Dependency directories
.pnp/
.pnp.js

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Editor/IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
coverage/

# Misc
.DS_Store
Thumbs.db
